<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/default/layout}">

<head>
    <title>Order Detail Management</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main class="container mt-5" layout:fragment="content">
        <form th:action="@{/admin/orderDetail/saveOrUpdate}" method="post" th:object="${orderDetail}">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Add New Order Detail</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="orderDetailId" class="form-label">Order Detail ID</label>
                        <input type="hidden" th:field="*{orderDetailId}">
                        <input type="text" class="form-control" th:field="*{orderDetailId}"
                            aria-describedby="orderDetailIdHelp" placeholder="Enter Order Detail ID" readonly />
                    </div>

                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" th:field="*{quantity}" aria-describedby="quantityHelp"
                            placeholder="Enter Quantity" />
                        <small th:if="${#fields.hasErrors('quantity')}" id="quantityHelp"
                            class="form-text text-danger">Quantity is required</small>
                    </div>

                    <div class="mb-3">
                        <label for="unitPrice" class="form-label">Unit Price</label>
                        <input type="number" class="form-control" th:field="*{unitPrice}"
                            aria-describedby="unitPriceHelp" placeholder="Enter Unit Price" step="0.01" />
                        <small th:if="${#fields.hasErrors('unitPrice')}" id="unitPriceHelp"
                            class="form-text text-danger">Unit Price is required</small>
                    </div>

                    <div class="mb-3">
                        <label for="orderId" class="form-label">Order ID</label>
                        <select class="form-select" th:field="*{orderId}" aria-describedby="orderIdHelp">
                            <option th:each="order : ${orders}" th:value="${order.orderId}" th:text="${order.orderId}">
                            </option>
                        </select>
                        <small th:if="${#fields.hasErrors('orderId')}" id="orderIdHelp"
                            class="form-text text-danger">Order ID is required</small>
                    </div>

                    <div class="mb-3">
                        <label for="product" class="form-label">Product</label>
                        <select class="form-select" th:field="*{productId}">
                            <option th:each="product : ${products}" th:value="${product.productID}"
                                th:text="${product.productName}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('productId')}" id="productHelp"
                            class="form-text text-danger">Please select a product</small>
                    </div>

                    <button class="btn btn-danger me-2" type="reset">Reset</button>
                    <a th:href="@{/admin/orderDetail/search}" class="btn btn-primary me-2">List Order Details</a>
                    <button class="btn btn-success">
                        <span th:if="${orderDetail.isEdit}">Update</span>
                        <span th:unless="${orderDetail.isEdit}">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>