USE [master]
GO
/****** Object:  Database [JAVA5]    Script Date: 6/13/2024 6:03:21 PM ******/
CREATE DATABASE [JAVA5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JAVA5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSEVER\MSSQL\DATA\JAVA5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JAVA5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSEVER\MSSQL\DATA\JAVA5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JAVA5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JAVA5]
GO
/****** Object:  Table [dbo].[account]    Script Date: 6/13/2024 6:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NULL,
	[role] [bit] NOT NULL,
	[is_edit] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 6/13/2024 6:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[is_edit] [bit] NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 6/13/2024 6:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[adress] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[is_edit] [bit] NULL,
	[name] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[register_date] [varchar](255) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 6/13/2024 6:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[unit_price] [float] NULL,
	[order_id] [bigint] NULL,
	[productid] [int] NULL,
	[is_edit] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 6/13/2024 6:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [float] NULL,
	[is_edit] [bit] NULL,
	[order_date] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[customerid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 6/13/2024 6:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[productid] [int] IDENTITY(1,1) NOT NULL,
	[categoryid] [bigint] NULL,
	[discount] [float] NULL,
	[entered_date] [varchar](255) NULL,
	[image] [varchar](255) NULL,
	[is_edit] [bit] NULL,
	[product_name] [varchar](255) NULL,
	[quantity] [int] NULL,
	[status] [varchar](255) NULL,
	[unit_price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK8a52jf2d0glhvlvfnnirjtvsc] FOREIGN KEY([productid])
REFERENCES [dbo].[products] ([productid])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK8a52jf2d0glhvlvfnnirjtvsc]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKbhieamq65ke02r8ijfso5tivn] FOREIGN KEY([customerid])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKbhieamq65ke02r8ijfso5tivn]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKgql7i991si80kbl0ha386e1ta] FOREIGN KEY([categoryid])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKgql7i991si80kbl0ha386e1ta]
GO
USE [master]
GO
